# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Flask
instance/

# Logs
/var/log/flask/

# SSL Certs
certs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
*.backup
static/uploads/*
data/*.db
